<footer class="footer">
  <div class="footer-column logos">
    <img src="assets/logoJuntosBlack.jpg" alt="Uniempresarial y CCB" class="logo-footer" />
  </div>

  <div class="footer-column contact">
    <div class="footer-item">
      <span class="footer-icon icon-phone"></span>
      <span>(601) 7945718 Exts. 1002, 6604, 6607, 6608</span>
    </div>
    <div class="footer-item">
      <span class="footer-icon icon-mail"></span>
      <a href="mailto:soporte@uniempresarial.edu.co">Admisiones&#64;uniempresarial.edu.co</a>
    </div>
  </div>

  <div class="footer-column address">
    <div class="footer-item">
      <span class="footer-icon icon-globe"></span>
      <a href="https://uniempresarial.edu.co" target="_blank">https://uniempresarial.edu.co</a>
    </div>
    <div class="footer-item">
      <span class="footer-icon icon-location"></span>
      <span>Sede Principal: Cra 33a # 30-20 Bogotá D.C.</span>
    </div>
  </div>
</footer>