<!-- Header con logos -->
<header class="header">
  <img src="assets/logoJuntos.jpg" alt="UniempresarialCCB" class="logos-juntos">
</header>

<!-- Banner principal -->
<section class="banner">
  <div class="banner-overlay">
    <h1>COFORMACIÓN EMPRESARIAL</h1>
  </div>
</section>

<!-- Sección de opciones principales -->
<section class="main-options">
  <div class="option">
    <div class="icon icon-student"></div>
    <button class="btn" (click)="goToLogin()">ESTUDIANTE</button>
  </div>
  <div class="option">
    <div class="icon icon-coformacion"></div>
    <button class="btn" (click)="goToLogin()">COFORMACIÓN</button>
  </div>
  <div class="option">
    <div class="icon icon-company"></div>
    <button class="btn" (click)="goToLogin()">EMPRESA</button>
  </div>
  <div class="option">
    <div class="icon icon-teacher"></div>
    <button class="btn" (click)="onTeacherClick()">PROFESORES</button>
  </div>
</section>

<!-- Disclaimer -->
<p class="disclaimer">BIENVENIDO AL SISTEMA DE COFORMACIÓN EMPRESARIAL. ESTA PLATAFORMA ESTÁ DISEÑADA PARA FACILITAR LA INTERACCIÓN ENTRE ESTUDIANTES, EMPRESAS Y UNIEMPRESARIAL. POR FAVOR, ASEGÚRATE DE UTILIZARLA DE FORMA RESPONSABLE.</p>